In [51]:
import pandas as pd
import numpy as np

In [52]:
movie=pd.read_csv('https://raw.githubusercontent.com/slmsshk/DataSet/main/Movie.csv')

In [53]:
movie.head(5)

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [54]:
movie.movie.value_counts()

Toy Story (1995)                      2569
GoldenEye (1995)                      1548
Heat (1995)                           1260
Jumanji (1995)                        1155
Sabrina (1995)                         700
Grumpier Old Men (1995)                685
Father of the Bride Part II (1995)     657
Sudden Death (1995)                    202
Waiting to Exhale (1995)               138
Tom and Huck (1995)                     78
Name: movie, dtype: int64

In [55]:
movie_1=movie.pivot(index='userId',columns='movie',values='rating')

In [56]:
movie_1

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
4,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7116,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
7117,NaN,3.0,4.0,5.0,NaN,3.0,1.0,NaN,4.0,NaN
7119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
7120,NaN,NaN,NaN,NaN,4.0,4.0,NaN,NaN,4.5,NaN

In [57]:
movie_1.fillna(0,inplace=True)

In [58]:
movie_1

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
userId,,,,,,,,,,
1,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
4,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7115,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7116,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7117,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7120,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [60]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [61]:
simlar=1-pairwise_distances(movie_1,metric='cosine')

In [62]:
simlar

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.55337157],
       [0.        , 1.        , 0.        , ..., 0.45883147, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       ...,
       [0.        , 0.45883147, 0.45883147, ..., 1.        , 0.45883147,
        0.47607054],
       [0.        , 0.        , 1.        , ..., 0.45883147, 1.        ,
        0.62254302],
       [0.55337157, 0.        , 0.62254302, ..., 0.47607054, 0.62254302,
        1.        ]])

In [71]:
user_sim=pd.DataFrame(simlar)

In [72]:
#Set the index and column names to user ids 
user_sim.index = movie.userId.unique()
user_sim.columns = movie.userId.unique()

In [79]:
user_sim.iloc[0:2000,0:2000]

,3,6,8,10,11,12,13,14,16,19,...,5441,5442,5443,5444,5446,5448,5449,5453,5456,5457
3,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.424264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.0,0.000000,0.000000,0.000000,0.0,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.577350,0.000000,0.390567,1.000000,0.000000,0.140028,0.285714,0.000000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.000000,0.0,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,0.424264,0.520756,0.000000,1.000000,0.700140,0.428571,0.447214,0.000000,1.000000
10,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.000000,0.791960,0.312453,0.000000,0.000000,0.420084,0.342857,0.715542,0.000000,0.000000
11,1.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.424264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5448,0.0,0.140028,0.700140,0.420084,0.0,0.510443,0.099015,0.689450,0.700140,0.612033,...,0.080845,0.693103,0.783894,0.140028,0.700140,0.000000,0.740148,0.313112,0.000000,0.700140
5449,0.0,0.285714,0.428571,0.342857,0.0,0.762535,0.606092,0.597873,0.428571,0.374639,...,0.329914,0.505076,0.967118,0.285714,0.428571,0.740148,0.000000,0.191663,0.628571,0.428571
5453,0.0,0.000000,0.447214,0.715542,0.0,0.291111,0.000000,0.660578,0.447214,0.825307,...,0.000000,0.695701,0.232889,0.000000,0.447214,0.313112,0.191663,0.000000,0.000000,0.447214
5456,0.0,0.000000,0.000000,0.000000,0.0,0.520756,0.565685,0.000000,0.000000,0.000000,...,0.346410,0.000000,0.546793,0.000000,0.000000,0.000000,0.628571,0.000000,0.000000,0.000000
5457,0.0,0.000000,1.000000,0.000000,0.0,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,0.424264,0.520756,0.000000,1.000000,0.700140,0.428571,0.447214,0.000000,0.000000

In [81]:
np.fill_diagonal(simlar, 0)

In [83]:
user_sim.iloc[0:2000,0:2000]

,3,6,8,10,11,12,13,14,16,19,...,5441,5442,5443,5444,5446,5448,5449,5453,5456,5457
3,0.0,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.424264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.0,0.000000,0.000000,0.000000,0.0,0.390567,0.707107,0.615457,0.000000,0.000000,...,0.577350,0.000000,0.390567,1.000000,0.000000,0.140028,0.285714,0.000000,0.000000,0.000000
8,0.0,0.000000,0.000000,0.000000,0.0,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,0.424264,0.520756,0.000000,1.000000,0.700140,0.428571,0.447214,0.000000,1.000000
10,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.615457,0.000000,0.388514,...,0.000000,0.791960,0.312453,0.000000,0.000000,0.420084,0.342857,0.715542,0.000000,0.000000
11,1.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.424264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5448,0.0,0.140028,0.700140,0.420084,0.0,0.510443,0.099015,0.689450,0.700140,0.612033,...,0.080845,0.693103,0.783894,0.140028,0.700140,0.000000,0.740148,0.313112,0.000000,0.700140
5449,0.0,0.285714,0.428571,0.342857,0.0,0.762535,0.606092,0.597873,0.428571,0.374639,...,0.329914,0.505076,0.967118,0.285714,0.428571,0.740148,0.000000,0.191663,0.628571,0.428571
5453,0.0,0.000000,0.447214,0.715542,0.0,0.291111,0.000000,0.660578,0.447214,0.825307,...,0.000000,0.695701,0.232889,0.000000,0.447214,0.313112,0.191663,0.000000,0.000000,0.447214
5456,0.0,0.000000,0.000000,0.000000,0.0,0.520756,0.565685,0.000000,0.000000,0.000000,...,0.346410,0.000000,0.546793,0.000000,0.000000,0.000000,0.628571,0.000000,0.000000,0.000000
5457,0.0,0.000000,1.000000,0.000000,0.0,0.650945,0.000000,0.492366,1.000000,0.874157,...,0.000000,0.424264,0.520756,0.000000,1.000000,0.700140,0.428571,0.447214,0.000000,0.000000

In [87]:
user_sim.idxmax(axis=1)[0:2000]

3         11
6        168
8         16
10      4047
11         3
        ...
5448    1406
5449    5439
5453    6017
5456    6057
5457       8
Length: 2000, dtype: int64

3         11
6        168
8         16
10      4047
11         3
        ...
5448    1406
5449    5439
5453    6017
5456    6057
5457       8
Length: 2000, dtype: int64

In [89]:
movie[(movie['userId']==10)|(movie['userId']==4047)]

      userId                    movie  rating
3         10         Toy Story (1995)     4.0
1474    4047         Toy Story (1995)     3.0
4107    4047  Grumpier Old Men (1995)     3.0
6853    4047           Sabrina (1995)     3.0
7367    4047      Sudden Death (1995)     3.0

In [97]:
user_2=movie[movie['userId']==10]
user_1=movie[movie['userId']==4047]

In [98]:
user_2.movie

3    Toy Story (1995)
Name: movie, dtype: object

In [99]:
user_1.movie

1474           Toy Story (1995)
4107    Grumpier Old Men (1995)
6853             Sabrina (1995)
7367        Sudden Death (1995)
Name: movie, dtype: object

In [100]:
pd.merge(user_1,user_2,on='movie',how='outer')

   userId_x                    movie  rating_x  userId_y  rating_y
0      4047         Toy Story (1995)       3.0      10.0       4.0
1      4047  Grumpier Old Men (1995)       3.0       NaN       NaN
2      4047           Sabrina (1995)       3.0       NaN       NaN
3      4047      Sudden Death (1995)       3.0       NaN       NaN